<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    rel="preload"
    as="style"
    href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap"
    crossorigin
  />
  <link
    rel="preload"
    as="style"
    href="https://fonts.googleapis.com/css2?family=Clicker+Script&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap"
    crossorigin
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Clicker+Script&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="assets/css/theme.css" />
  <link rel="icon" href="assets/images/favicon.ico" />

  <base href="{{ site.baseurl }}/" />

  <meta property="og:title" content="About Magpie Opera Collective" />
  <meta
    property="og:description"
    content="Artist-run opera collective in St. Louis, MO, highlighting emerging talent."
  />
  <meta property="og:type" content="website" />
  <!-- <meta property="og:url" content="https://yourdomain.com/about" /> -->
  <!-- <meta property="og:image" content="https://yourdomain.com/assets/images/logo.svg" /> -->

  {{ page.head_content }}
</head>
