<header class="site-header">
  <div class="container">
    <nav class="site-nav">
      <a href="/" class="text-logo">{% include text-logo.svg %}</a>
      <input id="menu" type="checkbox" />
      <label for="menu" class="hamburger-label" tabindex="0"></label>
      <ul class="nav-links">
        <li><a href="{{ site.baseurl }}/about.html">About</a></li>
        <li><a href="{{ site.baseurl }}/artists.html">Artists</a></li>
        <li><a href="{{ site.baseurl }}/events.html">Events</a></li>
      </ul>
    </nav>
  </div>
</header>
