---
---

@use "sass:color";
@use "sass:map";

@use "./fontawesome/variables" with (
  // customizing $font-path - make sure it points to where your webfonts are stored in your project
  $font-path: "../webfonts"
);
@use "./fontawesome/fontawesome";
@use "./fontawesome/fa" as fa;
@use "./fontawesome/solid" as fa-solid;

$primaryColor: #59694f;
$secondaryColor: #2a3723;
$fontFamily: Newsreader, serif;
$logoFontFamily: "Clicker Script", cursive;
$textLogoSize: 10vw;
$headerPadding: 1rem;
$footerHeight: 5rem;
$headerHeight: calc($textLogoSize + $headerPadding * 2);
$topBodyMargin: 1rem;
$containerWidth: 800px;

$breakpoints: (
  "mobile": 600px,
  "tablet": 1000px,
  "desktop": 1200px,
);

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
  background: color.adjust($primaryColor, $lightness: 40%);
  color: $primaryColor;
  margin: 0;
  margin-top: calc($textLogoSize + $topBodyMargin);

  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
}

.wrapper {
  min-height: 100%;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.container {
  max-width: $containerWidth;
  margin: 0 auto;
  padding: 0 1rem;
}

.site-header {
  background: url(../images/roses.png), $primaryColor;
  background-position: top;
  background-size: cover;
  font-family: $logoFontFamily;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: $headerPadding 0;

  a {
    text-decoration: none;
    color: color.adjust($primaryColor, $lightness: 60%);
    transition: color 0.3s ease;

    &:hover {
      color: color.adjust($primaryColor, $lightness: 40%);
    }
  }

  .text-logo {
    fill: $primaryColor;
    display: block;

    @media (min-width: map.get($breakpoints, "mobile") + 1px) {
      text-align: left;
      .mobile {
        display: none;
      }
    }
    @media (max-width: map.get($breakpoints, "mobile")) {
      .full {
        display: none;
      }
      .mobile {
        display: flex;
        align-items: center;
        justify-content: left;

        & svg {
          margin-right: 1rem;
        }
      }
    }

    svg {
      height: $textLogoSize;
      width: auto;
    }
  }

  .site-nav {
    position: relative;
    width: 100%;

    input[type="checkbox"] {
      display: none;
    }

    .hamburger-label {
      display: none;
      cursor: pointer;
      font-size: 1.5rem;
      position: absolute;
      right: 0;
      top: 5vw;
      transform: translateY(-50%);
      color: color.adjust($primaryColor, $lightness: 60%);
    }
    input[type="checkbox"]:not(:checked) + .hamburger-label {
      @include fa-solid.icon(fa.$var-bars);
    }
    input[type="checkbox"]:checked + .hamburger-label {
      @include fa-solid.icon(fa.$var-times);
    }

    .nav-links {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin: 0 1rem;

        a {
          font-size: 2.2rem;
        }
      }
    }

    /* Mobile view (<1000px) */
    @media (max-width: map.get($breakpoints, "mobile")) {
      .hamburger-label {
        // Make label bounding box wider and taller so users don't fat-finger press the home link
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: $textLogoSize !important;
        height: $textLogoSize;
      }

      .nav-links {
        visibility: hidden;
        width: 100%;
        text-align: center;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.4s ease-out, visibility 0.4s ease-out;

        li {
          display: block;
          margin: 0.5rem 0;
        }
      }

      input[type="checkbox"]:checked + .hamburger-label + .nav-links {
        visibility: visible;
        max-height: 50vh;
        transition: max-height 0.4s ease-in, visibility 0.4s ease-in;
      }
    }

    /* Tablet view (>1000px) */
    @media (min-width: map.get($breakpoints, "mobile") + 1px) {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .hamburger-label {
        display: none !important;
      }
    }

    /* Desktop view (>1200px) */
    @media (min-width: map.get($breakpoints, "desktop") + 1px) {
      .nav-links li a {
        font-size: 2.8rem;
      }
    }
  }
}

.site-footer {
  background: url(../images/roses.png), $primaryColor;
  background-size: cover;
  background-position: bottom;
  color: color.adjust($primaryColor, $lightness: 60%);
  text-align: center;
  padding: 1rem 0;
  font-size: 0.9rem;
  margin-top: auto;
  height: $footerHeight;

  a {
    color: color.adjust($primaryColor, $lightness: 60%);

    &:hover {
      color: color.adjust($primaryColor, $lightness: 40%);
    }
  }

  .footer-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      display: flex;
      align-items: center;
      font-size: 1rem;

      &:not(:last-child) {
        margin-right: 1em;
        position: relative;

        &::after {
          content: "|";
          color: color.adjust($primaryColor, $lightness: 60%);
          margin-left: 1em;
          font-weight: bold;
        }
      }
    }
  }
}

.page-content {
  min-height: calc(100dvh - $headerHeight - $footerHeight - $topBodyMargin);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $logoFontFamily;
  }

  .post-title {
    text-align: center;
  }
}

.artist-category {
  margin-top: 0;
  &:not(:first-of-type) {
    margin-top: 4rem;
  }
  .category-name {
    border-bottom: 3px solid $primaryColor;
    line-height: 3rem;
  }

  .artist-bio {
    font-size: 1.2rem;
    margin-bottom: 2rem;

    display: flex;
    &:nth-child(odd) {
      .headshot {
        order: 3;
      }
    }
    .headshot {
      margin: 0 1rem;
      max-width: 200px;
      width: 100%;
      height: auto;
      aspect-ratio: 4 / 5;
      object-fit: cover;
      object-position: top;
      border-radius: 5px;
    }

    .artist-name {
      text-align: center;
    }

    @media (max-width: map.get($breakpoints, "mobile")) {
      flex-direction: column;
      align-items: center;
      .headshot {
        order: 0 !important;
      }
    }
  }
}

.event {
  margin-bottom: 1rem;
  &:not(:last-of-type) {
    border-bottom: 1px solid $primaryColor;
  }
}

/* Utility Classes */
.bold {
  font-weight: bold;
}
